<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/app.css">
</head>

<body>
    <h1>YuBin Framed</h1>

    <form class="upload" action="/upload" method="POST" enctype="multipart/form-data">
        <label class="file">
            <input type="file" name="file" id="input-files" class="form-control-file border" />
            <span class="file-custom"></span>
        </label>
        <button type="submit" class="btn-primary">Submit</button>
    </form>


    <div class="preview-images thumbnail-container"></div>


    <div>
        <div id="loader" class="loader loader-hide"></div>

        <h2>All Images</h2>
        <div id="image-list"></div>
    </div>

    <script src="/script/app.js"></script>
</body>

</html>