<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
        div.preview-images>img,
        img.thumbnail {
            width: 30%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mt-3">
                <h4>Node.js upload images - bezkoder.com</h4>

                <form class="mt-4" action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" id="input-files" class="form-control-file border" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="preview-images"></div>
            </div>
        </div>
    </div>
    <div>
        <h1>Images</h1>
        <ul id="image-list"></ul>
    </div>

    <script>
        let imageList = document.querySelector('#image-list');
        
        fetch('/images')
            .then(res => res.json())
            .then(json => {
                console.log(json[0]);
                console.log(typeof json);

                for (let image of json) {
                    console.log(`image name : ${image.name}`)
                    const baseURL = '/uploads/';

                    const newLi = document.createElement('li');
                    const img = document.createElement('img');
                    img.src = `${baseURL}${image.name}`;
                    img.classList.add('thumbnail');
                    console.log(img)

                    newLi.appendChild(img);
                    imageList.appendChild(newLi);
                }
            });

    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let imagesPreview = function (input, placeToInsertImagePreview) {
                let filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                        let reader = new FileReader();

                        reader.addEventListener('load', function(evt) {
                            const preview = document.createElement('img');
                            preview.src = this.result;
                            placeToInsertImagePreview.appendChild(preview)
                        })

                        reader.readAsDataURL(input.files[i]);
                }
            }

            const fileInput = document.querySelector('#input-files');

            fileInput.addEventListener('change', 
                function() {
                    imagesPreview(this, document.querySelector('div.preview-images'));
                }
            );
        });
    </script>
</body>

</html>